{{> head }}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>Ejemplo</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat, tempora ut recusandae alias perspiciatis
            tenetur eaque quisquam enim ad incidunt iusto maxime, quasi mollitia! Eius corporis reiciendis neque iste
            nostrum.</p>

    </div>
    <div class="col-4">
        <img src="assets/img/descarga.jpg" class="img-thumbnail">
    </div>
</div>
{{> footer }}